---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=7dc16ba81801e8666ff020f289dfd360&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604779631,"sunrise":1604756162,"sunset":1604793077,"temp":295.5,"feels_like":285.28,"pressure":1005,"humidity":19,"dew_point":271.05,"uvi":3.29,"clouds":75,"visibility":10000,"wind_speed":11.3,"wind_deg":210,"wind_gust":14.4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1604779680,"precipitation":0},{"dt":1604779740,"precipitation":0},{"dt":1604779800,"precipitation":0},{"dt":1604779860,"precipitation":0},{"dt":1604779920,"precipitation":0},{"dt":1604779980,"precipitation":0},{"dt":1604780040,"precipitation":0},{"dt":1604780100,"precipitation":0},{"dt":1604780160,"precipitation":0},{"dt":1604780220,"precipitation":0},{"dt":1604780280,"precipitation":0},{"dt":1604780340,"precipitation":0},{"dt":1604780400,"precipitation":0},{"dt":1604780460,"precipitation":0},{"dt":1604780520,"precipitati[...]
