---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<DONT_SHARE_MY_KEY>&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604785519,"sunrise":1604756162,"sunset":1604793077,"temp":294.56,"feels_like":285.11,"pressure":1004,"humidity":21,"dew_point":271.56,"uvi":3.29,"clouds":75,"visibility":10000,"wind_speed":10.3,"wind_deg":200,"wind_gust":15.9,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1604785560,"precipitation":0},{"dt":1604785620,"precipitation":0},{"dt":1604785680,"precipitation":0},{"dt":1604785740,"precipitation":0},{"dt":1604785800,"precipitation":0},{"dt":1604785860,"precipitation":0},{"dt":1604785920,"precipitation":0},{"dt":1604785980,"precipitation":0},{"dt":1604786040,"precipitation":0},{"dt":1604786100,"precipitation":0},{"dt":1604786160,"precipitation":0},{"dt":1604786220,"precipitation":0},{"dt":1604786280,"precipitation":0},{"dt":1604786340,"precipitation":0},{"dt":1604786400,"precipitati[...]
