---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<NOT_YOUR_KEY>&exclude=minutely&lat=66&lon=42&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":66,"lon":42,"timezone":"Europe/Moscow","timezone_offset":10800,"current":{"dt":1604950646,"sunrise":1604900237,"sunset":1604924070,"temp":32.27,"feels_like":22.37,"pressure":1005,"humidity":95,"dew_point":31.12,"uvi":0.13,"clouds":91,"visibility":10000,"wind_speed":10.98,"wind_deg":317,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1604948400,"temp":32.27,"feels_like":22.37,"pressure":1005,"humidity":95,"dew_point":31.12,"clouds":91,"visibility":10000,"wind_speed":10.98,"wind_deg":317,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.04},{"dt":1604952000,"temp":32.92,"feels_like":21.87,"pressure":1005,"humidity":92,"dew_point":30.99,"clouds":93,"visibility":10000,"wind_speed":12.97,"wind_deg":317,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.04},{"dt":1604955600,"temp":32.74,"feels_like":21.29,"pressure":1005,"humidity":92,"dew_point":30.83,"clouds":94,"visibility":10000,"wind_speed":13.65,"wind_deg":315,"weather":[{"id":804,"main":"Clouds","description":"overcast
     [...]
