---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<NOT_YOUR_KEY>&exclude=minutely&lat=38.8228&lon=-104.8903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.82,"lon":-104.89,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604943187,"sunrise":1604928967,"sunset":1604965852,"temp":40.53,"feels_like":31.19,"pressure":1006,"humidity":47,"dew_point":23.05,"uvi":2.75,"clouds":75,"visibility":10000,"wind_speed":8.05,"wind_deg":340,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1604941200,"temp":40.53,"feels_like":33.93,"pressure":1006,"humidity":47,"dew_point":23.05,"clouds":75,"visibility":10000,"wind_speed":3.18,"wind_deg":256,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.12},{"dt":1604944800,"temp":41.05,"feels_like":32.95,"pressure":1006,"humidity":53,"dew_point":26.02,"clouds":63,"visibility":10000,"wind_speed":6.46,"wind_deg":195,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.12},{"dt":1604948400,"temp":42.37,"feels_like":32.05,"pressure":1006,"humidity":54,"dew_point":27.52,"clouds":95,"visibility":10000,"wind_speed":10.76,"wind_deg":199,"weather":[{"id":804,"main":"Clouds","description":"overcast
        [...]
[...]
