---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?exclude=minutely&key=<THIS_IS_MINE>&location=Manitou%20Springs,%20Colorado
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 17:39:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Manitou
        Springs, Colorado"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Manitou
        Springs","adminArea5Type":"City","adminArea4":"El Paso County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039144","unknownInput":"","type":"s","latLng":{"lat":38.857568,"lng":-104.912311},"displayLatLng":{"lat":38.857568,"lng":-104.912311},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<THIS_IS_MINE>&type=map&size=225,160&locations=38.857568,-104.912311|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1372932456"}]}]}'
  recorded_at: Mon, 09 Nov 2020 17:39:55 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<NOT_YOUR_KEY>&exclude=minutely&lat=39.1363&lon=-105.4633&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.14,"lon":-105.46,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604943601,"sunrise":1604929142,"sunset":1604965950,"temp":26.85,"feels_like":18.88,"pressure":1010,"humidity":85,"dew_point":23.4,"uvi":2.69,"clouds":90,"visibility":3219,"wind_speed":5.82,"wind_deg":190,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1604941200,"temp":26.85,"feels_like":19.47,"pressure":1010,"humidity":85,"dew_point":23.4,"clouds":90,"visibility":10000,"wind_speed":4.74,"wind_deg":165,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.58},{"dt":1604944800,"temp":30.38,"feels_like":17.46,"pressure":1009,"humidity":80,"dew_point":25.59,"clouds":87,"visibility":10000,"wind_speed":14.99,"wind_deg":207,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.6},{"dt":1604948400,"temp":32.7,"feels_like":15.94,"pressure":1008,"humidity":75,"dew_point":26.4,"clouds":98,"visibility":10000,"wind_speed":21.94,"wind_deg":209,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.39},{"dt":1604952000,"temp":33.85,"feels_like":15.51,"pressure":1007,"humidity":70,"dew_point":25.92,"clouds":99,"visibility":10000,"wind_speed":24.65,"wind_deg":207,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.39,"rain":{"1h":0.37}},{"dt":1604955600,"temp":33.4,"feels_like":15.93,"pressure":1007,"humidity":72,"dew_point":26.13,"clouds":100,"visibility":10000,"wind_speed":23.15,"wind_deg":207,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.41},{"dt":1604959200,"temp":32.31,"feels_like":16.83,"pressure":1007,"humidity":74,"dew_point":7.75,"clouds":100,"visibility":10000,"wind_speed":19.53,"wind_deg":205,"weather":[{"id":804,"main":"Clouds","description":"overcas[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?exclude=minutely&key=<THIS_IS_MINE>&location=Bailey,%20Colorado
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 17:40:03 GMT
      Reversegeocodetransactioncount:
      - '0'
     [...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<NOT_YOUR_KEY>&exclude=minutely&lat=39.2693&lon=-105.105&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.27,"lon":-105.11,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604943603,"sunrise":1604929074,"sunset":1604965850,"temp":35.65,"feels_like":30.87,"pressure":1009,"humidity":71,"dew_point":27.75,"uvi":2.6,"clouds":99,"visibility":10000,"wind_speed":1.01,"wind_deg":331,"wind_gust":5.99,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"snow":{"1h":0.13}},"hourly":[{"dt":1604941200,"temp":35.65,"feels_like":28.96,"pressure":1009,"humidity":71,"dew_point":27.75,"clouds":99,"visibility":10000,"wind_speed":4.41,"wind_deg":20,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"pop":0.37,"snow":{"1h":0.13}},{"dt":1604944800,"temp":33.67,"feels_like":27.82,"pressure":1008,"humidity":80,"dew_point":28.62,"clouds":98,"visibility":10000,"wind_speed":3.11,"wind_deg":23,"weather":[{"id":804,"main":"Clouds","des[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?exclude=minutely&key=<THIS_IS_MINE>&location=Deckers,%20Colorado
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Nov 2020 17:40:04 GMT
      Reversegeocodetransactioncount:
      - '0'
    [...]
[...]
